{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Players{% endblock %}
{% block body %}
<div class="content-section">
<div class="outer">
   <div class="middle">
      <div class="inner">
         <br/>
         {{ utils.flashed_messages() }}
         <br/>
         <h1 style="text-align:center;">Players</h1>
         <hr class="intro-divider">
         <div class="center">
            <table class="sortable table table-striped table-bordered">
               <thead>
                  <tr>
                     <th width="15%"> Player Name </th>
                     <th width="15%"> Player DoB </th>
                     <th width="15%"> Grade 1 </th>
                     <th width="15%"> Grade a </th>
                     <th width="15%"> Grade 2 </th>
                     <th width="15%"> Grade b </th>
                     <th width="15%"> Grade 3 </th>
                     <th width="15%"> Grade c </th>
                     <th width="15%"> Grade 4 </th>
                     <th width="15%"> Grade 5 </th>
                     <th width="15%"> Grade 6 </th>
                  </tr>
               </thead>
               <tbody>
                  {%for player in players%}
                  <tr>
                     <td>{{ player.player_name}} </td>
                     <td>{{ player.player_yob}} </td>
                     <td>{{ player.grade_1 }} </td>
                     <td>{{ player.grade_a }} </td>
                     <td>{{ player.grade_2 }} </td>
                     <td>{{ player.grade_b }} </td>
                     <td>{{ player.grade_3 }} </td>
                     <td>{{ player.grade_c }} </td>
                     <td>{{ player.grade_4 }} </td>
                     <td>{{ player.grade_5 }} </td>
                     <td>{{ player.grade_6 }} </td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
{% endblock %}
